<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.elpassion.instantappsample.feature.details">

    <application android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name=".DetailsActivity"
            android:label="@string/details_title"
            android:theme="@style/AppTheme">
            <intent-filter android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="hubinstantapp.herokuapp.com"
                    android:pathPrefix="/details" />
            </intent-filter>
            <intent-filter android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="hubinstantapp.herokuapp.com"
                    android:pathPrefix="/details" />
            </intent-filter>
            <intent-filter android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="hubinstantapp.herokuapp.com"
                    android:pathPrefix="/details" />
            </intent-filter>
            <intent-filter android:order="2">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="hubinstantapp.herokuapp.com"
                    android:pathPrefix="/details" />
            </intent-filter>
        </activity>
    </application>

</manifest>